.settingWrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background: #fffdf5;
  border-radius: 12px;

  background-image: repeating-linear-gradient(
    #cac8c1,
    #cac8c1 28px,
    rgba(0, 0, 0, 0.08) 29px
  );
  box-shadow: 4px 4px 0 #d4d4d4, 8px 8px 0 #b6b6b6;

  animation: fadeIn 0.4s ease;
}

.settingsTitle {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #303030;
  text-shadow: 1px 1px 0 #ffffff;
}